$siteWidth: 1171px;
$mainColor: #1c382c;
$mobileWidth: 786px;
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
}
@mixin heading {
    &__heading{
        font-family: 'Cormorant';
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #1F1F1F;
    &_orange{
        color: $mainColor;
    }
    }
}
@mixin navLinkStyle{
    font-family: 'lato', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #DBD1B9;
}
.fa-bars{
    color: $mainColor;
}