@import'scssBlocks/variables';
@import'scssBlocks/surpriceStyle';
@import'scssBlocks/topLine';
@import'scssBlocks/header';
@import'scssBlocks/burger';
@import'scssBlocks/banner';
@import'scssBlocks/latestOffers';
@import'scssBlocks/whyChoose';
@import'scssBlocks/whoMakes';
@import'scssBlocks/onInstagramm';
@import'scssBlocks/social';
@import'scssBlocks/footer';
@import'scssBlocks/catalog';
@import'scssBlocks/swiper';
@import'scssBlocks/good';




.myWrap{
    max-width: $siteWidth;
    margin: auto;
    padding: 0 15px;

}























